@{
    ViewBag.Title = "About";
}
<form action="page2.html" method="get">
    <fieldset>
        <legend>Informations</legend>
        <label>Prénom :</label>
        <input id="prenom" type="text" />

        <br />
        <label>Sexe :</label>
        <select id="sexe">
            <option value="H">Homme</option>
            <option value="F">Femme</option>
        </select>

        <br />
        <label>Mot de passe :</label>
        <input id="mdp" type="password" />

        <br />
        <label>Avez-vous des enfants :</label>
        <input id="enfants" type="checkbox" />

        <br />
        <label>Dites quelque chose sur vous</label>
        <textarea id="apropos" style="height:50px"></textarea>
    </fieldset>
    <input type="submit" value="Envoyer le formulaire" onclick="return VerifierFormulaire()" />
</form>